TP/src/PagoElectronico.suo
*.suo
*.suo
*.suo
TP/src/PagoElectronico.suo
TP/src/PagoElectronico/bin/Debug/PagoElectronico.exe
TP/src/PagoElectronico/bin/Debug/PagoElectronico.pdb
TP/src/PagoElectronico/obj/Debug/PagoElectronico.csproj.FileListAbsolute.txt
TP/src/PagoElectronico/obj/Debug/PagoElectronico.exe